@using PersonDB

<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px;">

        <div class="row">
            <div class="col-6 offset-md-3">
                <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" />
                <br />
                <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control" />
                <br />
                <input type="text" name="age" id="age" placeholder="Age" class="form-control" />
                <br />
                <button class="btn btn-primary" id="add-btn">Add</button>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 40px;">
        <table id="person-table" class="table table-hover table-striped table-bordered">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
           
        </table>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" style="margin-top: 40px;">
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <input id="editFirstName" type="text" name="firstName" placeholder="First Name" class="form-control" />
                                <br />
                                <input id="editLastName" type="text" name="lastName" placeholder="Last Name" class="form-control" />
                                <br />
                                <input id="editAge" type="text" name="age" placeholder="Age" class="form-control" />
                                <br />
                                <input id="editId" type="hidden" name="Id"/>
                                <br />
                                <button  class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" data-dismiss="modal" id="update" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script src="~/Scripts/index.js"></script>
}